.genre-movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(208px, auto));
    gap: 1rem;
}

@media (max-width:768px) {
    .genre-movie-container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(80px, auto));
        gap: 1rem;
    }
}