body {
    background-color: #17181A;
}

@media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #c7c7c7; 
        border-radius: 8px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #616161; 
        border-radius: 8px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #363636; 
    }
}